.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal-content {
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-size: 24px;
}

.modal-body {
  padding: 10px;
  font-size: 19px;
  font-weight: 500;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-button {
  width: 47%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  background-color: #e2dcc8;
  transition: all 0.3s ease;
}

.modal-button:hover {
  background-color: #e2dcc8;
}
